@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap");
@import "tw-animate-css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

@custom-variant dark (&:is(.dark *));

:root {
  --bg-main: #f0f8ff;
  --bg-submain: #75bfff;
  --bg-dark: #003666;
  --bg-dash: hsl(207, 22%, 30%);
  --text-color: hsl(0, 0%, 0%);
  --text-color-light: hsl(208, 100%, 73%);
  --text-color-light-two: hsl(208, 100%, 97%);
  --text-color-dark: hsl(0, 0%, 20%);
  --text-color-light-dark: hsl(208, 100%, 20%);
  --border-color: hsl(208, 100%, 73%);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-main);
}

.fst {
  font-family: "Poiret";
  color: var(--text-color-light-dark);
}

/* NAVBAR */

.nav_link {
  font-family: "Poiret";
  font-size: 17px;
  letter-spacing: 10px;
  transition: 0.5s ease-in-out;
  color: var(--text-color);
  position: relative;
}

.nav_link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  border-radius: 2px;
  right: 0;
  top: -5px;
  background-color: var(--bg-submain);
  transition: 0.5s ease-in-out;
}

.nav_link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  border-radius: 2px;
  left: 0;
  bottom: -5px;
  background-color: var(--bg-submain);
  transition: 0.5s ease-in-out;
}

.nav_link:hover {
  font-weight: 900;
}

.nav_link:hover::before,
.nav_link:hover::after {
  width: 100%;
}

/* HERO */

.hero_img {
  height: 400px;
}

.hero_img .hero_img_main {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.book {
  filter: drop-shadow(2px 2px 2px hsla(208, 100%, 73%, 0.409));
}

/* ABOUT */

.about_bg {
  background-image: url("../../public/Image/bg_image.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.about_left {
  height: 270px;
  background-color: var(--bg-main);
}

.border_c {
  border: 1px solid var(--border-color);
}

.about_first {
  /* background-color: var(--bg-submain) !important; */
  background: linear-gradient(
    347deg,
    #1e5799 0%,
    #2989d8 50%,
    #207cca 51%,
    #7db9e8 100%
  );
}

.about_first h1 {
  color: var(--text-color-light-two);
}

.about_first p {
  color: var(--text-color-light);
}

.about_right {
  height: 250px;
  background-color: var(--bg-main);
}

.about_img {
  background-image: url("../../public/Image/0fb8abfa-3422-4c1b-b047-1425d0735ed6.png");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 20px;
  background-attachment: fixed;
  transition: 0.5s ease-in-out;
}

/* LOGIN */

.login_container {
  background-color: var(--bg-dark);
}

.form_cover {
  background-color: var(--bg-main);
}

.form_cover label {
  color: var(--text-color-dark);
}

.form_cover input {
  border: 2px solid var(--bg-dark);
}

.form_cover select {
  border: 2px solid var(--bg-dark) !important;
}

/* .forgot_password {

} */

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dashboard_head {
  background-color: rgb(0, 52, 98);
}

.dashboard_head_input {
  background-color: var(--bg-main);
}

.dashboard_gr {
  background: rgb(0, 54, 102);
  background: linear-gradient(
    347deg,
    rgba(0, 54, 102, 1) 2%,
    rgba(240, 248, 255, 1) 100%
  );
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider-wrapper {
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  flex-shrink: 0;
  padding: 1rem;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
  z-index: 1;
  font-size: 2rem;
}

.slider-button.prev {
  left: 0.5rem;
}

.slider-button.next {
  right: 0.5rem;
}

.animate-shake {
  -webkit-animation: animate-shake 0.3s linear both;
  animation: animate-shake 0.3s linear both;
}

@-webkit-keyframes animate-shake {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes animate-shake {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* EDITOR */
.public-DraftStyleDefault-pre {
  background-color: #1e1e1e;
  color: #dcdcdc;
  font-family: "Fira Code", "Courier New", monospace;
  font-size: 0.95rem;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  margin: 10px 0;
}

/* BLOG CONTENT */
.news_content_cover {
  background-color: var(--bg-dark);

}

.news_content_img {
  width: 100%;
  height: 500px;
}

.news_content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}